body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f1a5a5;
 
}
button{
    background-color: slategray;
}


h1 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

#generationSelect {
  padding: 5px;
  font-size: 16px;
}

#pokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 160px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.pokemon:hover {
  transform: scale(1.05);
}

.pokemon img {
  width: 96px;
  height: 96px;
}

.pokemon h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.pokemon p {
  margin: 0;
  font-size: 14px;
}


.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(168, 156, 156);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.pokemon.card {
  min-height: 200px;
  transition: transform 0.2s ease-in-out;
}
.pokemon.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
